/*
  Global CSS file
*/
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

::-webkit-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
::-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}
:-ms-input-placeholder {
	color:#aaa;
	font-weight: 300;
}
input:-moz-placeholder {
	color:#aaa;
	font-weight: 300;
}

body, html {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url("/img/bg.png");
  background-color: #f8f8f8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
  font-weight: 400;
}

/*body:before {*/
  /*position: absolute;*/
  /*content:" ";*/
  /*top:0;*/
  /*left:0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*z-index:0;*/
  /*background-color: rgba(255,0,0,0.5);*/
/*}*/
