.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}
.container > .autocomplete-container {
  flex: 1;
}

.autocomplete-container .autocomplete-input{
  display: block;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  box-shadow: none;
  width: 100%;
  padding: 10px;
  border: solid 5px #c9c9c9;
  border-right: none;
}

.autocomplete-container .autocomplete-input:focus {
  outline: none;
  border: solid 5px #00AFF0;
  border-right: none;
}

.container .search-btn:hover {
  border-color: #00AFF0;
}

.container .search-btn {
  outline: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  box-shadow: none;
  border-radius: 0;

  padding: 0.4em;
  cursor: pointer;

  border: solid 5px #c9c9c9;
  vertical-align: baseline;

  background: transparent;

  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 550px) {
  .container .search-btn {
    display: none;
  }
  .autocomplete-container .autocomplete-input {
    border-right: solid 5px #c9c9c9;
  }

  .autocomplete-container .autocomplete-input:focus {
    border-right: solid 5px #00AFF0;
  }
}
