.header {
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  margin-right: 3%;
  background: #00AFF0;
  color: #f8f8f8;
  flex-wrap: wrap;
}

.user-bar, .logo {
  margin: 10px auto;
  padding: 5px 10px 5px;
}

.logo {
  margin: 10px;
  padding: 2px;
}

.logo a{
  text-decoration: none;
  font-weight: 700;
  color: #f8f8f8;
  font-size: 130%;
}

.language-switcher {
  flex: 1;
  white-space: nowrap;
  text-align: right;
}

.language-switcher ul {
  list-style: none;
  margin: auto;
}

.language-switcher li {
  display: inline-block;
  margin: 0;
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
}

.language-switcher li:hover {
  opacity: 0.9;
}

.language-switcher li.selected {
  opacity: 1;
}

.user-bar a{
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
}

.short-project-name {
  display: none;
}

@media screen and (max-width: 455px) {
  .full-project-name {
    display: none;
  }
  .short-project-name {
    display: initial;
  }
}
