.wrapper {
  display: flex;
  flex-flow: column wrap;
}

.container {
  padding: 0.5em;
  margin-bottom: 1em;
  margin-left: 3%;
  margin-right: 3%;
  border: solid 5px #c9c9c9;
  border-top: none;
  background-color: #f8f8f8;
}
