.forecast-container {
  display: flex;
  margin-top: 0.5em;
  flex-wrap: wrap;
}

.forecast-period {
  display: flex;
  margin-top: 0.5em;
}

.forecast-period > a:hover {
  border-color: #00AFF0;
}

.forecast-period > a {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: solid 5px #c9c9c9;
  padding: 10px;
}

.forecast-period > a.forecast-period-active {
  background: #c9c9c9;
}

@media screen and (max-width: 650px) {
  .forecast-container {
    flex-direction: column;
  }
}
