.forecast-container {
  display: flex;
  margin-top: 0.5em;
  flex-wrap: wrap;
}

.forecast-period {
  display: flex;
  margin-top: 0.5em;
  flex-wrap: wrap;
}

.forecast-period > a:hover {
  border-color: #00AFF0;
}

.forecast-period > a {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: solid 5px #c9c9c9;
  padding: 5px 10px;
  white-space: nowrap;
}

.spinner-container {
  text-align: center;
  height: auto;
  width: 100%;
}

.forecast-period > a.forecast-period-active {
  background: #00AFF0;
  color: #f8f8f8;
}

@media screen and (max-width: 650px) {
  .forecast-container {
    flex-direction: column;
  }
}
