.forecast-container {
  display: flex;
  margin-top: 0.5em;
  flex-wrap: wrap;
}

.forecast-period {
  flex: 3 0;
  margin-top: 0.5em;
  display: flex;
  flex-wrap: wrap;
}

.forecast-period > a:hover {
  border-color: #00AFF0;
}

.forecast-period > a {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border: solid 5px #c9c9c9;
  padding: 5px 10px;
  white-space: nowrap;
}

.spinner-container {
  text-align: center;
  height: auto;
  width: 100%;
}

.forecast-period > a.forecast-period-active {
  background: #00AFF0;
  color: #f8f8f8;
}

.period-share-container {
  display: flex;
  flex-wrap: wrap;
}

.forecast-share {
  margin-top: 0.5em;
  flex: 1 0;
  display: flex;
  margin-left: 0.5em;
}

.forecast-share a {
  flex: 1;
  border: solid 5px #c9c9c9;
  font-size: 20px;
  text-align: center;
  color: black;
}

.forecast-share a:hover {
  text-decoration: none;
  border-color: #00AFF0;
}

.loader {
  margin: 6.5em auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #00AFF0;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  position: relative;
  margin: 3em auto 6em;
  height: 110px;
  width: 110px;
}

.preloader path {
  stroke: #c9c9c9;
  stroke-width: 0.25;
  fill: #241E20;
}

.cloud {
  position: relative;
  z-index: 2;
  width: 110px;
  height: 110px;
}

.cloud path {
  fill: #efefef;
}

.sun {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 45px;
  top: 15px;
  z-index: 1;
  animation-name: rotate;
  animation-duration: 16000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.sun path {
  stroke-width: 0.18;
  fill: #c9c9c9;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/* Rain */
.preloader .rain {
  position: absolute;
  width: 70px;
  height: 70px;
  margin-top: -32px;
  margin-left: 19px;
}

.preloader .drop {
  opacity: 1;
  background: #c9c9c9;
  display: block;
  float: left;
  width: 3px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0px 0px 6px 6px;
  animation-name: drop;
  animation-duration: 350ms;
  animation-iteration-count: infinite;
}

.preloader .drop:nth-child(1) {
  animation-delay: -130ms;
}

.preloader .drop:nth-child(2) {
  animation-delay: -240ms;
}

.preloader .drop:nth-child(3) {
  animation-delay: -390ms;
}

.preloader .drop:nth-child(4) {
  animation-delay: -525ms;
}

.preloader .drop:nth-child(5) {
  animation-delay: -640ms;
}

.preloader .drop:nth-child(6) {
  animation-delay: -790ms;
}

.preloader .drop:nth-child(7) {
  animation-delay: -900ms;
}

.preloader .drop:nth-child(8) {
  animation-delay: -1050ms;
}

.preloader .drop:nth-child(9) {
  animation-delay: -1130ms;
}

.preloader .drop:nth-child(10) {
  animation-delay: -1300ms;
}

@keyframes drop {
  50% {
    height: 45px;
    opacity: 0;
  }
  51% {
    opacity: 0;
  }
  100% {
    height: 1px;
    opacity: 0;
  }
}
.preloader .text {
  letter-spacing: 1px;
  text-align: center;
  margin-left: -43px;
  font-weight: bold;
  margin-top: 20px;
  font-size: 11px;
  color: #c9c9c9;
  width: 200px;
}

@media screen and (max-width: 650px) {
  .forecast-container, .period-share-container {
    flex-direction: column;
  }

  .forecast-share {
    margin-left: 0;
  }

  .preloader {
    margin: 1em auto 4em;
  }
}

.forecast-period a span.short-content {
  display: none;
}

@media screen and (max-width: 455px) {
  .forecast-period a span.full-content {
    display: none;
  }
  .forecast-period a span.short-content {
    display: initial;
  }
}
