.container {
  display: flex;
  margin-bottom: 0.5em;
  flex-direction: column;
  border: solid 5px #c9c9c9;
  border-bottom: none;
}

.provider {
  border-bottom: solid 5px #c9c9c9;
  font-size: 90%;
  display: flex;
}

.provider .name {
  flex: 1;
  align-self: center;
  padding: 0.5em;
  display: flex;
  flex-flow: row nowrap;
}

.provider .name > .info {
  flex: 1;
}

.provider .name .rating{
  display: block;
  padding: 5px 0;
}

.provider .name a {
  color: #00AFF0;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.provider .name a:hover {
  color: inherit;
}

.provider .weather {
  padding-left: 0.5em;
  padding-right: 0.5em;
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-left: solid 5px #c9c9c9;
}

.provider .weather > div {
  align-self: center;
  flex: 1;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.provider .weather > div .avg span {
  display: block;
  color: #9d9d9d;
  font-size: 80%
}

.provider .give-rating {
  cursor: pointer;
  align-self: center;
}
