.container {
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  flex-direction: column;
  border: solid 5px #c9c9c9;
  border-bottom: none;
}

.provider {
  border-bottom: solid 5px #c9c9c9;
  font-size: 90%;
  display: flex;
}

.provider .name {
  flex: 1;
  align-self: center;
  padding: 0.5em;
  display: flex;
  flex-flow: row nowrap;
}

.provider .name > .info {
  flex: 1;
}

.provider .name .rating{
  display: block;
  padding: 5px 0;
}

.provider .name a {
  color: #00AFF0;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.provider .name a:hover {
  color: inherit;
}

.provider .weather {
  padding-left: 0.5em;
  padding-right: 0.5em;
  flex: 3;
  border-left: solid 5px #c9c9c9;
}

.provider .weather > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5px;
}
.provider .weather div.weather-graph {
  width: 100%;
  height: 35px;
}

.provider .weather hr {
  border: none;
  border-top: 1px solid #c9c9c9;
  margin: 5px 10px 0;
  width: 100%;
}

.provider .weather div.weather-day {
  align-self: center;
  flex: 1;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-right: 1px solid #c9c9c9;
}

.provider .weather div.weather-day:nth-last-child(3) {
  border-right: none;
}

.provider .weather div.weather-day .avg > span {
  display: block;
  color: #9d9d9d;
  font-size: 80%;
  white-space: nowrap;
}

.provider .give-rating {
  cursor: pointer;
  align-self: center;
}

.text-success-light {
 color: #00C851;
}

.text-danger-light {
  color: #ff4444;
}

.text-warning-light {
  color: #ffbb33;
}

@media screen and (max-width: 650px) {
  .provider {
    flex-direction: column;
  }
  .provider .weather {
    border-left: none;
  }
}
